/* header */
.headband {
  display: none; // 隐藏顶部线条
}

.header {
  margin: 12px auto 0; // 顶部空白
}

.header-inner {
  border-radius: $myradius; // 圆角

  +mobile() {
    margin: 0 8px;
  }
}

/* sidebar */
.sidebar {
  background: transparent;
}

.sidebar-inner {
  border-radius: $myradius; // 圆角
}

.back-to-top {
  font-size: 0.8125em; // back to top 字体大小
  border-radius: 0 0 $myradius $myradius; // 圆角
}

body {
  background-image: url('https://image-1253491707.file.myqcloud.com/bg.webp/none');
  background-repeat: no-repeat;
  background-attachment: fixed;
  // background-position: center;
  background-size: cover;

  +mobile() {
    background-size: auto auto;
  }
}

/* post */
.posts-expand .post-meta {
  margin: 3px 0 20px 0;
}

.post-button {
  margin-top: 20px;
}


.post-body {
    font-size: 1em;
}

p {
    margin: 0 0 10px 0;
}

.post-block {
  border-radius: $myradius; // 圆角
}

.post-block+.post-block {
  border-radius: $myradius; // 圆角
}

.comments {
  border-radius: $myradius; // 圆角
}

.pagination {
  border-radius: $myradius; // 圆角
}

.posts-expand .post-body img {
  padding: 0;
  box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.4);
}

.post-body .image-caption, .post-body .figure .caption {
  margin: 0 auto;
}

.post-body p a, .post-body span.exturl {
  color: $custom-link-color;
  border-bottom: none;
  // border-bottom: 1px solid $custom-link-color;

  &:hover {
    color: $custom-link-hover-color;
    border-bottom: none;
    // border-bottom: 1px solid $custom-link-hover-color;
  }
}

/* footer */
.footer {
  color: #fff;
}

code {
  background: pink;
}

.footer a, .footer span.exturl {
  color: $custom-link-color;
  border-bottom: 1px solid $custom-link-color;

  &:hover {
    color: $custom-link-hover-color;
    border-bottom: 1px solid $custom-link-hover-color;
  }
}

.tag-cloud a {
  border-bottom: none;

  &:hover {
    border-bottom: none;
  }
}

// 修改选中字符的颜色
::selection {
  background: rgba(0, 149, 255, 0.2);
  color: #555;
}

::-moz-selection {
  background: rgba(0, 149, 255, 0.2);
  color: #555;
}