// 隐藏顶部线条
.headband {
  display: none;
}

// 顶部空白
.main {
  margin: 12px auto 0;
}

// 圆角计划
.header-inner {
  border-radius: $myradius;
}

.site-brand-container {
  border-radius: $myradius $myradius 0 0;
}

.sidebar-inner {
  border-radius: $myradius;
}

.back-to-top {
  border-radius: 0 0 $myradius $myradius;
}

.post-block {
  border-radius: $myradius;
}

.post-block+.post-block {
  border-radius: $myradius;
}

.comments {
  border-radius: $myradius;
}

.pagination {
  border-radius: $myradius;
}

// 背景图片
body {
  background-image: url('https://image-1253491707.file.myqcloud.com/bg.webp/none');
  background-repeat: no-repeat;
  background-attachment: fixed;
  // background-position: center;
  background-size: cover;

  +mobile() {
    background-size: auto auto;
  }
}

// post
// 字体大小
.post-body {
  font-size: 1em;
}

// 图片阴影
.posts-expand .post-body img {
  padding: 0;
  box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.4);
}

// 链接样式
.post-body .exturl {
  color: $custom-link-color;
  border-bottom: none;

  // border-bottom: 1px solid $custom-link-color;
  &:hover {
    color: $custom-link-hover-color;
    border-bottom: none;
    // border-bottom: 1px solid $custom-link-hover-color;
  }
}

/* code */
code {
  background: pink;
}

// 页脚主题，hexo链接样式
.theme-link {
  color: $custom-link-color;
  border-bottom: 1px solid $custom-link-color;

  &:hover {
    color: $custom-link-hover-color;
    border-bottom: 1px solid $custom-link-hover-color;
  }
}

// 修改选中字符的颜色
::selection {
  background: rgba(0, 149, 255, 0.2);
  color: #555;
}

::-moz-selection {
  background: rgba(0, 149, 255, 0.2);
  color: #555;
}

// 代码块滑动条
.table-container {
  scrollbar-width: thin;
}

.table-container::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

.table-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #666b7a;
}

.table-container::-webkit-scrollbar-track {
  background: none;
}